*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #36768c;
  padding-top: 10px;
}
h2, h4{
  text-align: center;
  color: white;
}

.container{
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;

  .card{ 
    overflow: hidden;
    height: 50vh;
    width: 100vw;
    /* padding-top: 0.5rem; */
    border-radius: 20px;
    border: 8px solid antiquewhite;
    position: relative;
    

    .card-img{
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
   .card-body{
    
   }
    
    /* img:hover{
      transform: scale(1.03);
      cursor: pointer;
    }
    .overlay1,.overlay2, .overlay3, .overlay4, .overlay5{
      position: absolute;
      box-sizing: border-box;
      background: rgba(194, 133, 20, 0.5);
      color: whitesmoke;
      font-size: larger;
      margin: auto 6%;
      width: 90%;
      object-fit: cover;
      border-radius:0 0 5% 5%;
      text-align: center;
      margin-top: -8.3rem;
      overflow: hidden;
    }
    .card:hover, .overlay1, .overlay2, .overlay3, .overlay4, .overlay5{
      transform: scale(1.03);
      cursor: pointer;

    } */
/* .overlay1:hover{
  transform: scale(1.03);
cursor: pointer;
} */
    }

}

